body {
    font-family: 'Roboto', sans-serif;
    position: relative;
    margin-left: auto;
    margin-right:auto;
    text-align: center;
    background-image: url(http://wall-papers.info/images/photo-backgrounds/photo-backgrounds-17.jpg);
    background-size: auto;
}

#controls {
    display: inline-block;
}

h1 {
    font-size: 80px;
    text-shadow: 2px 2px 2px #e1e1e1;
}

label{
    font-size: large;
    color: #18abf9;
    margin: 5px;
}

#box {
    font-size: medium;
    margin: 10px;
    opacity: 0.5;
    width: 20px;
    height: 20px;
}

#lookup {
    border-style: solid;
    border-width: 0px;
    border-radius: 5%;
    width: 150px;
    height: 30px;
    background-color: #75ceff;
    border-color: grey;
    color: white;
    font-size: large;
}

#lookup:hover {
    opacity: 0.5;
}

#result {
    text-align: left;
    color: white;
}

#country {
    border-radius: 3%;
    font-family: Arial;
    background-color: transparent;
    border-color: white;
    padding: 5px;
    margin-bottom: 15px;
    color: white;
    width: 40%;
}

label {
    font-size: large;
}
